.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212630;
    height: 100vh;
}
  
.hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    padding: 3rem 1.5rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 980px) {
        padding: 8rem 1.5rem;
    }

    hr{
        border: 0;
        height: 3px;
        background: #fff;
        width: 20px;
    }
}

.profile-image{
    max-height: 250px;
}