.skills {
    background-color: #eceff4;
}
.skill-item {
    margin-bottom: 30px;
    .icon {
        margin-right: 7px;
    }

    h2 {
        display: inline-flex;
        align-items: center;
        font-size: 1.3rem;
        @media screen and (min-width: 48em) {
            font-size: 1.5rem;
        }
        @media screen and (min-width: 62em) {
            font-size: 1.6rem;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            list-style-type: none;
            margin-right: 40px;
            font-size: 1.1rem;
            @media screen and (min-width: 48em) {
                font-size: 1.2rem;
            }
            @media screen and (min-width: 62em) {
                font-size: 1.3rem;
            }
        }
    }
}
.skill-item:last-child {
    margin-bottom: 0;
}
