.project-card {
    border-radius: 15px;
    border: 0.25px solid rgb(204, 204, 204);
    box-shadow: rgb(209, 209, 209) 0px 0px 3px;
    height: 100%;
    justify-content: space-between;
}
.card-btn {
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    border: 0.25px solid rgb(179, 179, 179);
    box-shadow: rgb(190, 190, 190) 0px 0px 1px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.25rem;
}

.card-btns-container {
    width: 100%;
    .card-btn {
        margin-right: 0.5em;
    }
}

.card-icon {
    width: 35px;
    height: 35px;
}
