@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);

$default-fonts: "Karla", sans-serif, Arial;
$primary-light: #fdfffc;
$primary-dark: #212630;

body,
html {
    font-family: $default-fonts;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.App {
    height: 100vh;
    position: relative;
}

//section
section {
    border-bottom: 1px solid #cdd2d7;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $primary-dark;
    h1 {
        text-align: center;
        margin-bottom: 1rem;
    }
    .two-column-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.section-text {
    font-weight: 500;
    font-size: 1.1rem;
    @media screen and (min-width: 48em) {
        font-size: 1.2rem;
    }
    @media screen and (min-width: 62em) {
        font-size: 1.3rem;
    }
}
.section-padding {
    padding: 2.5rem !important;
    scroll-margin: 3.5rem;
    
    @media screen and (min-width: 36em) {
        scroll-margin: 3.875rem;
        padding: 3rem !important;
    }
    @media screen and (min-width: 48em) {
        padding: 3.5rem !important;
    }
    @media screen and (min-width: 62em) {
        padding: 4rem !important;
    }
}
.responsive-image {
    @media screen and (max-width: 36em) {
        min-width: 100%;
    }
    width: 70%;
    height: 70%;
    @media screen and (min-width: 62em) {
        width: 90%;
        height: 90%;
    }
}
.flex-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

//animations
.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    opacity: 0;
}
@keyframes fade-in-right {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fade-in-right {
    opacity: 0;
    animation-name: fade-in-right;
}
@keyframes fade-in-left {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fade-in-left {
    opacity: 0;
    animation-name: fade-in-left;
}
@keyframes fade-up {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-up {
    opacity: 0;
    animation-name: fade-up;
}
